:root {
  --bs-black: #000;
  --bs-body-bg: var(--bs-dark);
  --bs-body-bg-rgb: var(--bs-dark-rgb);
  --bs-body-color: var(--bs-light);
  --bs-body-color-rgb: var(--bs-light-rbg);
}

.container-max-xxl, .container-max-xl, .container-max-lg, .container-max-md, .container-max-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-max-xxl, .container-max-xl, .container-max-lg, .container-max-md, .container-max-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-max-xxl, .container-max-xl, .container-max-lg, .container-max-md {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-max-xxl, .container-max-xl, .container-max-lg {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-max-xxl, .container-max-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-max-xxl {
    max-width: 1320px;
  }
}
